/*
    desc:自定义布局样式表
    author:miku
    date:2015-8-7
    log:
        date 2015-8-24
        author miku
        优化代码结构
*/
html,body,#myvbox{
  height: 100%;
}
#myvbox{
  min-width: 1200px;
  min-height: 600px;
  overflow: hidden;
}
#myheader{
  height: 60px;
  background-color: #FFFFFF;
}
#mycontent{
  /*此处有用js做处理*/
  height: calc(100% - 120px);
}
#mycontent .left{
  width: 200px;
  height: 100%;
  background-color: #181F24;
  overflow: auto;
  float:left;
}
#mycontent .right{
  position: relative;
  /*此处有用js做处理*/
  width: calc(100% - 200px);
  height:100%;
  float:left;
  background-color:#F2F4F8;
  overflow: auto;
}
#myplayer{
  height: 60px;
  position:relative;
}
#myplayer .placeholder{
  width:200px;
  height: 100%;
  background-color: #181F24;
  float: left;
}
#myplayer .myplayer{
  /*此处有用js做处理*/
  width:calc(100% - 200px);
  height: 100%;
  background-color: #5A6A7A;
  float:left;
}
