#mycontent .right .listcontent{
}
#mycontent .right .listcontent .wrap{
    width: 840px;
    margin: 0 auto;
    margin-top:24.72px; 
}
#mycontent ul{
    margin: 0px;
    padding: 0px;
}
.tablecontent{
	margin-right:14%;
}
.musicitem{
    position:relative;
    margin-right:20px;
    margin-bottom:12.36px;
    height: 219px;
    width: 260px;
    background-color: #FFFFFF;
    border: 0px solid #dedede;
    -moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
    -webkit-box-shadow: #666 0px 0px 5px;
    -moz-box-shadow: #666 0px 0px 5px;
    box-shadow: #666 0px 0px 5px;
    z-index: 11;
    overflow:hidden;
    float: left;
}
.picture{
    height: 144px;
    width: 260px;
    -moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
    z-index: 1;
    overflow: hidden;
}
.songpic{
	margin-top:-26.875px;
	height:200px;
	width:260px;	
}

.songdiv{
    position:absolute;
    top:147.8x;
    left:8.9px;
    z-index: 1;
    width: 1000px;
}
.artistdiv{
    position:absolute;
    top:167.5px;
    left:8.9px;
}
.songName{
    cursor: pointer;
}
.songName,.artistName{
    font-size: 15.9px;
    color:black;
}
.addList,.addFav,.toSong{
    float: right;
    cursor: pointer;
    margin-top: 50px;
    margin-right: 10px;
}
.addList img,.addFav img,.toSong img{
    width: 17px;
    height:17px;
}
.pagediv{
    clear: both;
    display:block;
}
.loadmask{
    position:absolute;
    height: 144px;
    width: 260px;
    top:0px;
    left:0px;
    background-color:#2980B9;
    opacity: 0.95;
    z-index: 100;
}
.loaddiv{
    position:absolute;
    display:none;
    height:100%;
    width:100%;
    display: none;
    background-color: #1ABC9C;
/*
    -moz-border-radius: 8px;     
    -webkit-border-radius: 8px;   
    border-radius:8px;          
    -webkit-box-shadow: #666 0px 0px 10px;
    -moz-box-shadow: #666 0px 0px 10px;
    box-shadow: #666 0px 0px 10px;
*/
    z-index: 500;
}
.maskimg{
    position:absolute; 
    top: 35%; 
    left: 40%;
}
.maskimg2{
    position:absolute; 
    top: 40%; 
    left: 41.5%;
    color: white;
}
.maskimg3{
    width: 100px;
    height: 100px;
    position:absolute; 
    top:45%; 
    left: 45%;
}
.flyer{
	z-index:200;
}
#kkpager{
    padding: 0;
    padding-bottom: 24.72px;
    display: block;
}
