/*
    desc:自定义播放器样式表
    author:miku
    date:2015-8-7
*/
.jp-playlist.open ul {
    display: block !important;
    bottom: 58px;
    left: 174px;
    right: inherit;
}
@media (max-width: 767px){
.jp-playlist.open ul {
    left: 159px;
}
}